body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

h1 {
  text-align: center;
}

.box {
  background: white;
  max-width: 500px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
}

input {
  width: 95%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #333;
}
